.container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.content {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.volver {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.volver:hover {
    background-color: #0056b3;
}