#root {
    width: 100%;
}

.container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: fit-content;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    width: 30%;
    min-width: 200px;
}

.statements p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.true {
    color: green;
}

.misleading {
    color: orange;
}

.false {
    color: red;
}

.options {
    text-align: center;
    align-items: center;
    display: block;
    justify-content: center;
    padding: 0 30px;
    width: 40%;
    min-width: 300px;
}

.choices {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 880px) {
    .choices {
        flex-direction: column;
    }
}

.choices label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#input-container {
    height: 20vh;
    width: auto;
}

#textarea-input {
    height: inherit;
    min-width: 200px;
    width: 100%;
}

.error {
    color: red;
    margin-top: 20px;
}

.submit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
}

.submit.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.processing-message {
    color: #333;
    margin-top: 10px;
    font-size: 14px;
}