body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


#root {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: fit-content;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);

    /* Fondo blanco semitransparente */
}

.arriba-titulo-central {
    margin-bottom: 80px !important;
    font-size: 2.2em;
    font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 1300px) {
    .arriba-titulo-central {
        padding-left: 20%;
        padding-right: 20%;
        font-size: 2.8em;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}

.h2-arriba-cards {
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    color: white;
}

.left-section,
.right-section {
    width: 30%;
    min-width: 200px;

}

.statements p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.true {
    color: green;
}

.misleading {
    color: #ffa500;
}

.false {
    color: red;
}

.options {
    text-align: center;
    align-items: center;
    display: block;
    justify-content: center;
    padding: 0 30px;
    width: 40%;
    min-width: 300px;
    color: white;
}

.choices {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 10px;
    font-size: 1em;
}



@media (max-width: 880px) {
    .choices {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .choices {
            font-size: 1.2em;
    }
}



.choices label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-container {
    height: 15vh;
    width: auto;
    text-align: center;
}

input[type="file"] {
    width: fit-content !important;
    display: flex !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}

#textarea-input {
    height: inherit;
    min-width: 200px;
    width: 80%;
    font-size: 1.4em;
}

#textarea-input::placeholder {
    padding: 10px;
}

#file-input {
    padding-left: 15%;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

#youtube-input {
    min-width: 200px;
    width: 80%;
    padding: 10px;
}

.error {
    color: red;
    margin-top: 20px;
}

.submit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
}

.submit.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.processing-message {
    color: #333;
    margin-top: 10px;
    font-size: 14px;
}

input[type="file"] {
    width: 100%;
}
